<div class='article-container'>
  <header>
    <div class='site-title'>
      <%= image_tag 'myblog-title'%>
    </div>
    <div class='to-userpage'>
      <%= image_tag 'men_icon.png' %>
    </div>
  </header>

  <div class='main-content article-content clearfix'>
    <div class='articles-list'>
      <div class='top-articles'>
        <h1 class='top-articles__head'>
          トップ記事
        </h1>
        <div class='top-article-content'>
          <div class='top-articles__box'>
            <div class='image-box'>
            </div>
            <div class='top-article-right'>
              <div class='article-title'>
                タイトル
              </div>
              <div class='article-tags'>
                <h2>タグ：
                <%# ここで繰り返し処理 %>
                <li> グルメ
              </div>
              <div class='article-favorites'>
                ☆<span>10
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='side-manu'>
      <div class='menu-content'>
        <%= link_to '記事を投稿'%>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class='menu-search'>
        <%= link_to '記事を検索'%>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class='menu-content'>
        <%= link_to 'マイページ'%>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class='menu-content'>
        <%= link_to 'ログアウト'%>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <footer>
  </footer>
</div>