<div class='article-container'>

  <%= render partial: 'shared/main_header'%>

  <div class='main-content article-content clearfix'>
    <div class='articles-list'>
      <div class='top-articles'>
        <h1 class='top-articles__head'>
          トップ記事
        </h1>
        <div class='top-article-content'>

          <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
              <div class='top-articles__box'>
                <div class='image-box'>
                  <%= image_tag article.images.first.content %>
                </div>
                <div class='top-article-right'>
                  <div class='article-title'>
                    <p>
                      <%= article.title %>
                  </div>

                  <div class='article-writer'>
                    by
                    <%= article.user.name %>
                  </div>

                  <div class='article-favorites'>
                    <i class="fa fa-star-o" aria-hidden="true"></i><span>10
                  </div>
                  <div class='article-tags'>
                    <h2>登録されたタグ：
                    <%# ここで繰り返し処理 %>
                    <li> グルメ
                    <li> 東京
                    <li> フルーツ
                  </div>
                  
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/side'%>

  </div>

  <footer class='main-footer'>
  </footer>
</div>