<div class='common-container'>
  <div class='common-header'>
    <%= image_tag 'signup-header'%>
  </div>

  <div class='common-content'>
    <h2>
      新規投稿
    </h2>
    <div class='common-main'>
      <%= form_for @article do |f| %>
        <div class='field'>
          <%= f.label :タイトル %><br />
          <%= f.text_field :title %>
        </div>

        <div class='field'>
          <%= f.label :本文 %><br>
          <%= f.text_area :content %>
        </div>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>