<div class='common-container'>
  <div class='common-header'>
    <%= image_tag 'signup-header'%>
  </div>

  <div class='common-content'>
    <h2>
      新規投稿
    </h2>
    <div class='common-main'>
      <%= form_for @article do |f| %>
        <div class='field'>
          <%= f.label :タイトル %><br>
          <%= f.text_field :title, class: 'input-field', placeholder: 'ここにタイトルを入力' %>
        </div>

        <div class='field'>
          <%= f.label :本文 %><br>
          <%= f.text_area :content, placeholder: 'ここに本文を入力' %>
        </div>

        <%= f.fields_for :images do |i| %>
          <div class='field'>
            <%= i.label :content, '画像' %><br>
            <%= i.file_field :content %>
          </div>
        <% end %>

        <div class='actions' >
          <%= f.submit :投稿 %>
        </div>
      <% end %>
    </div>
  </div>
</div>