<div class='search-container'>
  <%= render partial: 'shared/main_header' %>

  <div class='search-main clearfix'>
    <div class='search-content'>
      <h2>
        <%= params[:search] %>
        の検索結果
      </h2>

      <div class='search-results'>
        <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
            <div class='top-articles__box'>
              <div class='image-box'>
                <% if article.images.present? %>
                  <%= image_tag article.images.first.content %>
                <% end %>
              </div>
              <div class='top-article-right'>
                <div class='article-title'>
                  <p>
                    <%= article.title %>
                </div>

                <div class='article-writer'>
                  by
                  <%= article.user.name %>
                </div>

                <div class='article-favorites'>
                  <% if user_signed_in? %>
                    <% if current_user.already_favorited?(article) %>
                      <i class="fa fa-star" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                    <% else %>
                      <i class="fa fa-star-o" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                    <% end %>
                  <% else %>
                    <i class="fa fa-star-o" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                  <% end %>
                    
                </div>
                <div class='article-tags'>
                  <h3>登録されたタグ：
                  <% article.tags.each do |tag| %>
                    <li><%= tag.name %>
                  <% end %>
                </div>
                <div class='article-created_at'>
                  <%= article.created_at.strftime("%y-%m-%d %H:%M") %>
                </div>
                
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'shared/side'%>
  </div>
</div>