<div class='article-container'>

  <%= render partial: 'shared/main_header'%>

  <div class='show-container clearfix'>
    <div class='article-show-content'>
      <h2>
        <%= @article.title %>
      </h2>
      <div class='article-show-main'>

        <div class='article-user'>
          <% if @article.user.icon.nil? %>
            <%= link_to user_path(@article.user) do %>
              <%= image_tag 'men_icon.png' %>
            <% end %>
          <% else %>
            <%= link_to user_path(@article.user) do %>
              <%= image_tag @article.user.icon%>
            <% end %>
          <% end %>
          <div class='article-user-name'>
            <%= link_to user_path(@article.user) do %>
              <%= @article.user.name %>
            <% end %>
          </div>
        </div>

        <div class='article-text'>
          <%= simple_format @article.content %>
        </div>

        <h3>
          画像(クリックして拡大)
        </h3>
        <div class='article-image'>
          <% @article.images.each do |img| %>
            <%= link_to img.content.url, 'data-lightbox': img.content do %>
              <%= image_tag img.content %>
            <% end %>
          <% end %>
        </div>

        <div class='comment-container'>
          <div class='posted-comment-zone'>
            <% if @article.comments %>
              <% @article.comments.each do |comment| %>
                <%= comment.content %>
              <% end %>
            <% end %>
          </div>

          <div class='post-comment'>
            <% if current_user %>
              <%= form_tag("/articles/#{@article.id}/comments", method: :post) do %>
                <textarea cols="30" name="content" placeholder="コメントする" rows="2"></textarea><br>
                <input type="submit" value="コメントする">
              <% end %>
            <% end %>
          </div>
        </div>

        <div class='share-zone'>
          <h3>
            ●この投稿をシェアする●
          </h3>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" 
             data-text="<%= @article.user.name %>の投稿をシェアしました。&#13;&#10;【<%= @article.title %>】" 
             data-hashtags="きょうのブログ" 
             data-lang="ja" 
             data-show-count="false">Tweet
          </a>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/side' %>
  </div>

  <%= render partial: 'shared/main_footer'%>

</div>