<div class='article-container'>

  <%= render partial: 'shared/main_header'%>

  <div class='show-container clearfix'>
    <div class='article-show-content'>
      <div class='article-title-box clearfix'>
        <h2>
          <%= @article.title %>
        </h2>
        <div class='post-time'>
          <%= @article.created_at.strftime("%y-%m-%d %H:%M") %>
          に投稿
        </div>
      </div>
      <div class='article-show-main'>

        <div class='article-user'>
          <% if @article.user.icon.nil? %>
            <%= link_to user_path(@article.user) do %>
              <%= image_tag 'men_icon.png' %>
            <% end %>
          <% else %>
            <%= link_to user_path(@article.user) do %>
              <%= image_tag @article.user.icon%>
            <% end %>
          <% end %>
          <div class='article-user-name'>
            <%= link_to user_path(@article.user) do %>
              <%= @article.user.name %>
            <% end %>
          </div>

          <div class='favorite-area'>
            <% if current_user.already_favorited?(@article) %>
              <%= button_to article_favorite_path(@article), method: :delete do %>
                <i class="fa fa-star" aria-hidden="true" class="favorited"></i>
              <% end %>
            <% else %>
              
              <%= button_to article_favorites_path(@article) do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <div class='favorite-count'>
              <span><%= @article.favorites.count %></span>
            </div>
          </div>
        </div>

        <div class='article-text'>
          <%= simple_format @article.content %>
        </div>

        <h3>
          画像(クリックして拡大)
        </h3>
        <div class='article-image'>
          <% @article.images.each do |img| %>
            <%= link_to img.content.url, 'data-lightbox': img.content do %>
              <%= image_tag img.content %>
            <% end %>
          <% end %>
        </div>

        <% if @article.user == current_user %>
          <div class='article-edit-box'>
            <%= link_to '編集', '#', class: 'edit-article' %>
            <%= link_to '投稿を削除', article_path(@article.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'delete-article' %>
          </div>
        <% end %>

        <div class='comment-container'>
          <div class='comment-top'>
            投稿されたコメント
          </div>
          <div class='posted-comment-zone'>
            <% if @comments %>
              <% @comments.each do |comment| %>
                <div class='comment-box clearfix'>
                  <div class='comment-user-name'>
                    <%= comment.user.name %>
                  </div>
                  <div class='comment-content'>
                    <%= comment.content %>
                  </div>
                  <div class='comment-created_at'>
                    <%= comment.created_at.strftime("%y-%m-%d %H:%M") %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class='post-comment'>
            <% if current_user %>
              <%= form_tag("/articles/#{@article.id}/comments", method: :post) do %>
                <textarea cols="30" name="content" placeholder="コメントする" rows="2"></textarea><br>
                <input type="submit" value="コメントする" class="comment-btn">
              <% end %>
            <% end %>
          </div>
        </div>

        <div class='share-zone'>
          <h3>
            ●この投稿をシェアする●
          </h3>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" 
             data-text="<%= @article.user.name %>の投稿をシェアしました。&#13;&#10;【<%= @article.title %>】" 
             data-hashtags="きょうのブログ" 
             data-lang="ja" 
             data-show-count="false">Tweet
          </a>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/side' %>
  </div>

  <%= render partial: 'shared/main_footer'%>

</div>