<div class='userpage-container'>
  <%= render partial: 'shared/main_header' %>

  <div class='userpage-main clearfix'>
    <div class='userpage-content'>
      <h2>
        <%= @user.name %>
        さんの投稿
      </h2>
      <div class='user-posts'>
        <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
            <div class='top-articles__box'>
              <div class='image-box'>
                <%= image_tag article.images.first.content %>
              </div>
              <div class='top-article-right'>
                <div class='article-title'>
                  <p>
                    <%= article.title %>
                </div>

                <div class='article-writer'>
                  by
                  <%= article.user.name %>
                </div>

                <div class='article-favorites'>
                  <% if current_user.already_favorited?(article) %>
                    <i class="fa fa-star" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                  <% else %>
                    <i class="fa fa-star-o" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                  <% end %>
                </div>
                <div class='article-tags'>
                  <h3>登録されたタグ：
                  <%# ここで繰り返し処理 %>
                  <li> グルメ
                  <li> 東京
                  <li> フルーツ
                </div>
                
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'shared/side'%>
  </div>

  <%= render partial: 'shared/main_footer'%>
</div>
