<div class='userpage-container'>
  <%= render partial: 'shared/main_header' %>

  <div class='userpage-main clearfix'>
    <div class='userpage-content'>
      <h2>
        <%= @user.name %>
        さんのページ
      </h2>
      <div class='user-posts'>
        <div class='articles-list-head'>
          <div class='posts-list-head active'>
            投稿一覧
          </div>
          <div class='favorites-list-head'>
            お気に入りした記事
          </div>
        </div>

        <div class='user-posted user-articles'>
          <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
              <div class='top-articles__box'>
                <div class='image-box'>
                  <%= image_tag article.images.first.content %>
                </div>
                <div class='top-article-right'>
                  <div class='article-title'>
                    <p>
                      <%= article.title %>
                  </div>

                  <div class='article-writer'>
                    by
                    <%= article.user.name %>
                  </div>

                  <div class='article-favorites'>
                    <% if current_user.already_favorited?(article) %>
                      <i class="fa fa-star" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                    <% else %>
                      <i class="fa fa-star-o" aria-hidden="true"></i><span><%= article.favorites.count %></span>
                    <% end %>
                  </div>
                  <div class='article-tags'>
                    <h3>登録されたタグ：
                    <%# ここで繰り返し処理 %>
                    <li> グルメ
                    <li> 東京
                    <li> フルーツ
                  </div>
                  <div class='article-created_at'>
                    <%= article.created_at.strftime("%y-%m-%d %H:%M") %>
                  </div>
                  
                </div>
              </div>
            <% end %>
          <% end %>
          <div class='articles-pagenation'>
            <%= paginate(@articles) %>
          </div>
        </div>

        <div class='user-favorites user-articles'>
          <% @favorites.each do |fv| %>
            <%= link_to article_path(fv) do %>
              <div class='top-articles__box'>
                <div class='image-box'>
                  <%= image_tag fv.images.first.content %>
                </div>
                <div class='top-article-right'>
                  <div class='article-title'>
                    <p>
                      <%= fv.title %>
                  </div>

                  <div class='article-writer'>
                    by
                    <%= fv.user.name %>
                  </div>

                  <div class='article-favorites'>
                    <% if current_user.already_favorited?(fv) %>
                      <i class="fa fa-star" aria-hidden="true"></i><span><%= fv.favorites.count %></span>
                    <% else %>
                      <i class="fa fa-star-o" aria-hidden="true"></i><span><%= fv.favorites.count %></span>
                    <% end %>
                  </div>
                  <div class='article-tags'>
                    <h3>登録されたタグ：
                    <%# ここで繰り返し処理 %>
                    <li> グルメ
                    <li> 東京
                    <li> フルーツ
                  </div>
                  <div class='article-created_at'>
                    <%= fv.created_at.strftime("%y-%m-%d %H:%M") %>
                  </div>
                  
                </div>
              </div>
            <% end %>
          <% end %>
          <div class='articles-pagenation'>
            <%= paginate(@favorites) %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/side'%>
  </div>

  <%= render partial: 'shared/main_footer'%>
</div>
