<header class='main-header'>
  <div class='site-title'>
    <%= link_to root_path do %>
      <img src="<%=asset_path "myblog-title.png" %>">
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class='to-userpage'>
      <% if current_user.icon.nil? %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag 'men_icon.png' %>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.icon %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class='to-userpage'>
      <div class='signin-btn'>
        <%= link_to 'ログイン', user_session_path%>
      </div>
    </div>
  <% end %>
</header>