<footer class='main-footer'>
  <div class='share-area'>
    <h2>
      シェアする
    </h2>

    <div class='share-select'>
      <div class='share-twitter'>
        ツイッターでシェアする<br>
        <%= image_tag 'twitter.jpg'%>
      </div>
      <div class='share-other'>
        その他の方法でシェア<br>
        <%= link_to 'https://www.facebook.com/' do %>
          <%= image_tag 'facebook'%>
        <% end %>
        <%= link_to 'https://www.instagram.com/' do %>
          <%= image_tag 'instagram'%>
        <% end %>
        <%= link_to 'https://line.me/ja/' do %>
          <%= image_tag 'line'%>
        <% end %>
        <%= image_tag 'mail'%>
      </div>
  </div>
</footer>