<footer class='main-footer'>
  <div class='share-area'>
    <h2>
      シェアする
    </h2>

    <div class='share-select'>
      <div class='share-twitter'>
        ツイッターでシェアする<br>
        <%= image_tag 'twitter.jpg'%>
      </div>
      <div class='share-other'>
        その他の方法でシェア<br>
        <%= image_tag 'facebook'%>
        <%= image_tag 'instagram'%>
        <%= image_tag 'line'%>
        <%= image_tag 'mail'%>
      </div>
  </div>
</footer>