<header class='main-header'>
  <div class='site-title'>
    <%= link_to root_path do %>
      <%= image_tag 'myblog-title'%>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class='to-userpage'>
      <% if current_user.icon.nil? %>
        <%= image_tag 'men_icon.png' %>
      <% else %>
        <%= image_tag current_user.icon %>
      <% end %>
    </div>
  <% else %>
    <div class='to-userpage'>
      <div class='signin-btn'>
        <%= link_to 'ログイン', user_session_path%>
      </div>
    </div>
  <% end %>
</header>