<footer class='main-footer'>
  <div class='share-area'>
    <h2>
      シェアする
    </h2>

    <div class='share-select'>
      <% if user_signed_in? %>
        <div class='share-twitter'>
          ツイッターでシェアする<br>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
            class="twitter-share-button" 
            data-text="気軽に書けるブログを更新中！&#13;&#10;私のページはこちら↓&#13;&#10;&#13;&#10;" 
            data-url="http://18.179.129.79//users/<%= current_user.id %>" 
            data-hashtags="きょうのブログ" 
            data-lang="ja" 
            data-show-count="false">Tweet
          </a>
        </div>
      <% else %>
        <div class='share-twitter'>
          ツイッターでシェアするにはログインしてください
        </div>
      <% end %>
      <div class='share-other'>
        その他の方法でシェア<br>
        <%= link_to 'https://www.facebook.com/' do %>
          <img src="<%=asset_path "facebook.jpg" %>">
        <% end %>
        <%= link_to 'https://www.instagram.com/' do %>
          <img src="<%=asset_path "instagram.png" %>">
        <% end %>
        <%= link_to 'https://line.me/ja/' do %>
          <img src="<%=asset_path "line.jpg" %>">
        <% end %>
        <img src="<%=asset_path "mail.png" %>">
      </div>
  </div>
</footer>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>