<div class='side-manu'>
  <%= link_to new_article_path do %>
    <div class='menu-content'>
      記事を投稿
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>

  <div class='menu-search'>
    <%= link_to '記事を検索'%>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

  <%= link_to user_path(current_user) do %>
    <div class='menu-content'>
      マイページ
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>

  <%= link_to favorites_users_path(current_user) do %>
    <div class='menu-content'>
      お気に入り一覧
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>

  <%= link_to destroy_user_session_path, method: :delete do %>
    <div class='menu-content'>
      ログアウト
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  <% end %>
</div>